:root {
	// base
	--content-width: 1280px;
	--container-offset: 20px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));
	--font-size: 18px;
	--font-golos: 'GolosText', sans-serif;

	// colors
	--black-color: #000;
	--light-bg: #f5f7fa;
	--light-grey: #aabacf;
	--blue-color: #0d08a4;
	--text-color: #313131;
	--light-gray-color: #f7f7f7;
	--gray: #8b8b8b;
	--yellow-color: #ecf96e;
	--purple-color: #9278FA;
	--page-bg-color: #f2f2f4;
	--white-color: #fff;
	--black: #222;
}